<div class="footer" style="position: fixed; bottom: 0px;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                Orizon SAS 2019 - Dashboard by jcazako from <a href="https://colorlib.com/wp/">Colorlib</a>.
            </div>
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                <div class="text-md-right footer-links d-none d-sm-block">
                    <a href="mailto:support@orizonvision.com">Support</a>
                </div>
            </div>
        </div>
    </div>
</div>