<!DOCTYPE html>
<html lang="fr">
    <head>
        <title>VisioLab : Ajouter une caméra</title>
        <% include inc/metatags.ejs %>
        <% include inc/importantcss.ejs %>
        <link rel="stylesheet" href="/assets/vendor/tagmanager/tagmanager.css">
    </head>
    <body>
        <!-- ============================================================== -->
        <!-- main wrapper -->
        <!-- ============================================================== -->
        <div class="dashboard-main-wrapper">
            <!-- ============================================================== -->
            <!-- navbar -->
            <!-- ============================================================== -->
            <% include inc/navbar.ejs %>
            <!-- ============================================================== -->
            <!-- end navbar -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- left sidebar -->
            <!-- ============================================================== -->
            <% include inc/lsidebar.ejs %>
            <!-- ============================================================== -->
            <!-- end left sidebar -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- wrapper  -->
            <!-- ============================================================== -->
            <div class="dashboard-wrapper">
                <div class="container-fluid dashboard-content">
                    <!-- ============================================================== -->
                    <!-- pageheader -->
                    <!-- ============================================================== -->
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="page-header">
                                <h2 class="pageheader-title">Ajouter des caméras</h2>
                                <div class="page-breadcrumb">
                                    <nav aria-label="breadcrumb">
                                        <ol class="breadcrumb">
                                            <li class="breadcrumb-item"><a href="/" class="breadcrumb-link">Tableau de bord</a></li>
                                            <li class="breadcrumb-item active" aria-current="page">Ajouter des caméras</li>
                                        </ol>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ============================================================== -->
                    <!-- end pageheader -->
                    <!-- ============================================================== -->
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="card">
                                <h5 class="card-header">Formulaire d'ajout</h5>
                                    <div class="card-body">
                                        <form id="addCameraForm">
                                            <div class="form-group row">
                                                <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 col-12">
                                                    <div class="section-block">
                                                        <h5 class="section-title">Type de flux vidéo</h5>
                                                        <p>Ce champs concerne l'url de votre caméra à analyser (rtsp://).</p>
                                                    </div>
                                                        <input type="text" style="margin-bottom: 10px;" placeholder="Définir le flux vidéo" name="url" id="urlCamera" class="form-control">
                                                        <input type="text" placeholder="Snapshot ou flux MJPEG de la caméra" name="urlSnapshot" id="urlSnapshotCamera" class="form-control">
                                                </div>
                                            </div>
                                            <h5 class="section-title" style="margin-top: 20px;">Informations</h5>
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label">Nom du domaine</label>
                                                <div class="col-12 col-sm-8 col-lg-6">
                                                    <input type="text" placeholder="Identifiez votre caméra" name="namespace" id="namespaceCamera" class="form-control">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label">Description</label>
                                                <div class="col-12 col-sm-8 col-lg-6">
                                                    <textarea type="text" placeholder="Donner une description à votre caméra" name="description" id="descriptionCamera" class="form-control"></textarea>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label">Tags</label>
                                                <div class="col-12 col-sm-8 col-lg-6">
                                                    <input type="text" id="tagsCamera" name="tags" placeholder="Insérer une caractéristique" class="form-control tm-input"/>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <div class="col col-sm-10 col-lg-9 offset-sm-1 offset-lg-0">
                                                    <button type="submit" name="submit" data-toggle="modal" class="btn btn-space btn-primary">Valider</button>
                                                    <button class="btn btn-space btn-secondary" onclick="location.reload(true)">Annuler</button>
                                                </div>
                                            </div>
                                        </form>

                                        <!-- ============================================================== -->
                                        <!-- Success modal -->
                                        <!-- ============================================================== -->
                                        <!-- Button trigger modal -->

                                        <!-- Success Modal -->
                                        <div class="modal fade" id="successModal" tabindex="-1" role="dialog" aria-hidden="true">
                                          <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                              <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Caméra ajoutée</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                  <span aria-hidden="true">&times;</span>
                                                </button>
                                              </div>
                                              <div class="modal-body">
                                                <p>Votre caméra a été correctement téléchargée, vous pouvez désormais en ajouter une autre.</p>
                                              </div>
                                              <div class="modal-footer">
                                                <button type="button" class="btn btn-primary" data-dismiss="modal">Fermer</button>
                                                <a href="/list_camera"><button type="button" class="btn btn-secondary">Voir la liste des caméras</button></a>
                                                <a href="/search_camera"><button type="button" class="btn btn-secondary">Rechercher des caméras</button></a>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <!-- ============================================================== -->
            <!-- footer -->
            <!-- ============================================================== -->
            <% include inc/footer.ejs %>
            <!-- ============================================================== -->
            <!-- end footer -->
            <!-- ============================================================== -->
            </div>
            <!-- ============================================================== -->
            <!-- end main wrapper -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- end main wrapper -->
        <!-- ============================================================== -->

        <% include inc/importantjs.ejs %>
        <script src="/assets/vendor/tagmanager/tagmanager.js"></script>
        <script src="/js/add_camera.js"></script>
        <script>
            jQuery(".tm-input").tagsManager();
        </script>
        <style type="text/css">
            .card-body {
                padding: 0px;
                padding-left: 1.2rem;
            }
        </style>
    </body>
</html>
