<!DOCTYPE html>
<html lang="fr">
    <head>
        <title>VisioLab : Liste des caméras</title>
        <% include inc/metatags.ejs %>
        <% include inc/importantcss.ejs %>

        
    </head>
    <body>
            
        <!-- ============================================================== -->
        <!-- main wrapper -->
        <!-- ============================================================== -->
        <div class="dashboard-main-wrapper">
            <!-- ============================================================== -->
            <!-- navbar -->
            <!-- ============================================================== -->
            <% include inc/navbar.ejs %>
            <!-- ============================================================== -->
            <!-- end navbar -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- left sidebar -->
            <!-- ============================================================== -->
            <% include inc/lsidebar.ejs %>
            <!-- ============================================================== -->
            <!-- end left sidebar -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- wrapper  -->
            <!-- ============================================================== -->
            <div class="dashboard-wrapper">
                <div class="container-fluid dashboard-content">
                    <!-- ============================================================== -->
                    <!-- pageheader -->
                    <!-- ============================================================== -->
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="page-header">
                                <h2 class="pageheader-title">Liste des caméras</h2>
                                <div class="page-breadcrumb">
                                    <nav aria-label="breadcrumb">
                                        <ol class="breadcrumb">
                                            <li class="breadcrumb-item"><a href="/" class="breadcrumb-link">Tableau de bord</a></li>
                                            <li class="breadcrumb-item active" aria-current="page">Liste des caméras</li>
                                        </ol>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ============================================================== -->
                    <!-- end pageheader -->
                    <!-- ============================================================== -->

                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="row" id="cameras">
                                <% if (body.cameras && body.cameras.length > 0) { %>
                                    <% body.cameras.forEach((camera) => { %>
                                <div title="<%= camera.name %>" style="padding:5px" class="col-xl-4 col-lg-6 col-md-12 col-sm-12 col-md-6 col-12">
                                    <div class="card">
                                        <a href="/analyse_camera/<%= camera._id %>">
                                            <img src="<%= camera.urlSnapshot %>" style="height: 300px; width: 100%;" class="img-fluid" id="camera">
                                        </a>
                                        <div class="card-body" id="<%= camera._id %>">
                                            <h4 class="card-title"><a href="/analyse_camera/<%= camera._id %>"><%= camera.namespace %></h4>
                                            <h6 class="card-title"><a href="/analyse_camera/<%= camera._id %>"><%= camera.name %></a> téléchargé par <a href="http://127.0.0.1:8000/profil/<%= camera.username %>"><%= camera.username %></a> <%= camera.date %></h6>
                                            <% if (camera.description) { %>
                                            <p class="card-text" style="padding: 10px; background-color: rgba(0, 0, 0, 0.03); border-left: solid rgba(0, 0, 0, 0.1);"><%= camera.description %></p>
                                            <% } %>
                                            <% if (camera.tags && camera.tags.length > 0) { %>
                                                <% camera.tags.forEach((tag) => { %>
                                                    <span class="badge badge-info"><%= tag %></span>
                                                <% }) %>
                                            <% } %>
                                            <div class="row" style="margin: 0px; margin-top: 20px;">

                                                <a href="#" id="btn<%= camera._id %>" name="listAnalyzeBtn" style="margin-bottom: 3px;" class="col-12 btn btn-primary"><span class="fas fa-play"></span> Analyser</a>
                                                <button title="Supprimer la camera" name="trash" style="margin-bottom: 2px;" href="#" class="col-12 btn btn-outline-danger"><span class="fas fa-trash"></span> Supprimer</button><br><br>

                                            </div>
                                        </div>
                                    </div>
                                </div>

                                    <% }) %>
                                <% } else { %>
                                <div class="col-12 jumbotron">
                                    <h3 class="display-5">Aucune caméra</h3>
                                    <hr class="my-4">
                                    <p>Aucune caméra n'a été trouvée sur cette page, vous pouvez importer des vidéos à analyser.</p>
                                    <p class="lead">
                                        <a class="btn btn-primary btn-lg" href="/add_camera" role="button">Importer une caméra</a>
                                    </p>
                                </div>
                                <% } %>
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                    <nav aria-label="Page navigation example ">
                                        <ul class="pagination">
                                            <% if (body.page != 0) { %>
                                            <li class="page-item">
                                                <a style="padding: 20px; font-size: 20px;" class="page-link" href="/list_camera/<%= parseInt(body.page) - 1 %>" aria-label="Previous">
                                                    <span aria-hidden="true">← Page précédente</span><span class="sr-only">Previous</span>
                                                </a>
                                            </li>
                                            <li class="page-item">
                                                <a style="padding: 20px; font-size: 20px;" class="page-link" href="/list_camera/0" aria-label="Next">
                                                    <span aria-hidden="true">Première page ↗</span><span class="sr-only">Next</span>
                                                </a>
                                            </li>
                                            <% } %>
                                            <% if (body.cameras && body.cameras.length > 0) { %>
                                            <li class="page-item">
                                                <a style="padding: 20px; font-size: 20px;" class="page-link" href="/list_camera/<%= parseInt(body.page) + 1 %>" aria-label="Next">
                                                    <span aria-hidden="true">Page suivante →</span><span class="sr-only">Next</span>
                                                </a>
                                            </li>
                                            <% } %>
                                         </ul>
                                    </nav>
                                </div>

                                <!-- Wait Modal -->
                                <div class="modal fade" id="waitModal" tabindex="-1" role="dialog" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">En cours de chargement</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <p>Une analyse est en cours, veuillez patienter.</p>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-primary" data-dismiss="modal">Continuer</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Success Modal -->
                                <div class="modal fade" id="successModal" tabindex="-1" role="dialog" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Analyse en cours</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <p>Cette caméra est actuellement en cours d'analyse, vous pouvez continuer vos recherches en parallèle.</p>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-primary" data-dismiss="modal">Fermer</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Remove Modal -->
                                <div class="modal fade" id="removeModal" tabindex="-1" role="dialog" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Suppression caméra</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <p>Êtes vous sûr de vouloir supprimer cette caméra? </p>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Fermer</button>
                                                <button type="button" id="confTrash" class="btn btn-danger">Supprimer la camera</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            <!-- ============================================================== -->
            <!-- footer -->
            <!-- ============================================================== -->
            <% include inc/footer.ejs %>
            <!-- ============================================================== -->
            <!-- end footer -->
            <!-- ============================================================== -->
            </div>
            <!-- ============================================================== -->
            <!-- end main wrapper -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- end main wrapper -->
        <!-- ============================================================== -->
        <% include inc/importantjs.ejs %>
        <script src="/assets/vendor/jsmpeg/jsmpg.js"></script>
        <script src="/js/list_camera.js"></script>
    </body>
</html>
