<!DOCTYPE html>
<html lang="en">
    <head>
        <title>VisioLab : Connexion</title>
        <% include inc/metatags.ejs %>
        <% include inc/importantcss.ejs %>
    </head>
    <style>
        html,
        body {
            height: 100%;
        }

        body {
            display: -ms-flexbox;
            display: flex;
            -ms-flex-align: center;
            align-items: center;
            padding-top: 40px;
            padding-bottom: 40px;
            background-color: #ecf0f1;
        }
        .logo {
            width: 400px;
            height: 150px;
            position: relative;
            right: 51px;
        }
    </style>
    <body>
        <!-- ============================================================== -->
        <!-- login page  -->
        <!-- ============================================================== -->
        <div class="splash-container">
            <img src="/img/logo_visio_supervision.png" class="logo">
            <div class="card" style="border-radius: 0px;">
                <div class="card-header" style="text-align: center">
                    Connectez-vous
                </div>
                <div class="card-body">
                    <form id="loginForm" action="/login" method="POST">
                        <div class="form-group">
                            <input class="form-control form-control-lg" name="username" id="username" type="text" placeholder="Nom d'utilisateur" autocomplete="off" required>
                        </div>
                        <div class="form-group">
                            <input class="form-control form-control-lg" name="password" id="password" type="password" placeholder="Mot de passe" required>
                        </div>
                        <button type="submit" class="btn btn-primary btn-lg btn-block">Connexion</button>
                    </form>
                </div>
            </div>
        </div>
      
        <!-- ============================================================== -->
        <!-- end login page  -->
        <!-- ============================================================== -->
        <% include inc/importantjs.ejs %>
    </body>
</html>