<!DOCTYPE html>
<html lang="fr">
    <head>
        <title>VisioLab : Moniteur de caméra</title>
        <% include inc/metatags.ejs %>
        <% include inc/importantcss.ejs %>
    </head>
    <body>
        <!-- ============================================================== -->
        <!-- main wrapper -->
        <!-- ============================================================== -->
        <div class="dashboard-main-wrapper">
            <!-- ============================================================== -->
            <!-- navbar -->
            <!-- ============================================================== -->
            <% include inc/navbar.ejs %>
            <!-- ============================================================== -->
            <!-- end navbar -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- left sidebar -->
            <!-- ============================================================== -->
            <% include inc/lsidebar.ejs %>
            <!-- ============================================================== -->
            <!-- end left sidebar -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- wrapper  -->
            <!-- ============================================================== -->
            <div class="dashboard-wrapper">
                <div class="container-fluid dashboard-content">
                    <!-- ============================================================== -->
                    <!-- pageheader -->
                    <!-- ============================================================== -->
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="page-header">
                                <h2 class="pageheader-title">Moniteur de caméra</h2>
                                <div class="page-breadcrumb">
                                    <nav aria-label="breadcrumb">
                                        <ol class="breadcrumb">
                                            <li class="breadcrumb-item active"><a href="/" class="breadcrumb-link">Tableau de bord</a></li>
                                            <li class="breadcrumb-item active" aria-current="page">Moniteur de caméra</li>
                                        </ol>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ============================================================== -->
                    <!-- end pageheader -->
                    <!-- ============================================================== -->

                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="row">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                    <div class="card">
                                        <h5 class="card-header">Moniteur caméra</h5>
                                        <div class="card-body">
                                            <div style="margin-bottom: 20px;" class="alert alert-warning" role="alert">
                                                <h4 class="alert-heading">Raccourcis</h4>
                                                <ul>
                                                    <li><strong>F11</strong> pour visionner en grand écran.</li>
                                                </ul>
                                                <h4 class="alert-heading">Fonctionnalités</h4>
                                                <ul>
                                                    <li>Supervision des caméras par grille</li>
                                                    <li>Portabilité du visionnage (PC, Tablette, Mobile)</li>
                                                </ul>
                                            </div>
                                            <p>Cette liste concerne tout le monitoring des caméras visible sous forme de grille pour une visibilité dédiée aux opérateurs de visionnage.</p>
                                            <p>Appuyez sur la touche <strong>F11</strong> pour visionner en grand écran.</p>
                                            <ul class="list-group">
                                                <% if (namespaces) { %>
                                                    <% for (var i = 0; i < namespaces.length; i++) { %>
                                                <li class="list-group-item"><a target="_blank" href="/screen-monitor/<%= namespaces[i] %>"><%= namespaces[i] %></a></li>
                                                    <% } %>
                                                <% } %>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <!-- ============================================================== -->
            <!-- footer -->
            <!-- ============================================================== -->
            <% include inc/footer.ejs %>
            <!-- ============================================================== -->
            <!-- end footer -->
            <!-- ============================================================== -->
            </div>
            <!-- ============================================================== -->
            <!-- end main wrapper -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- end main wrapper -->
        <!-- ============================================================== -->
        <% include inc/importantjs.ejs %>
        <script src="/assets/vendor/socket.io-client/dist/socket.io.js"></script>
        <script src="/assets/vendor/chart.js/dist/Chart.min.js"></script>
        <script src="/js/monitor.js"></script>
    </body>
</html>
