<!DOCTYPE html>
<html>
	<head>
	  <meta charset="utf-8">
	  <title>Camera monitor</title>
	  <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
	  <script type="text/javascript" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
	</head>
	<body>
		<div id="monitor">
		</div>
	</body>
	<style type="text/css">
		#monitor {
			min-width: 100vw;
			min-height: 100vh;
			background-color: #000000;
		}
	</style>
	<script type="text/javascript" src="/js/screenMonitor.js"></script>
</html>