<!DOCTYPE html>
<html lang="fr">
    <head>
        <title>VisioLab : Bienvenue</title>
        <% include inc/metatags.ejs %>
        <link rel="stylesheet" href="/assets/vendor/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="/assets/vendor/fonts/fontawesome/css/fontawesome-all.css">
        <link rel="stylesheet" href="/assets/vendor/fonts/circular-std/style.css">
        <link rel="stylesheet" href="/assets/libs/css/style.css">
    </head>
    <body class="text-center">
        <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
            <header class="masthead mb-auto">
                <div class="inner">
                    <h3 class="masthead-brand">VISIOLAB</h3>
                </div>
            </header>

            <main role="main" class="inner cover">
                <h1 class="cover-heading"><span class="fas fa-eye"></span> Bienvenue !</h1>
                <p class="lead">VISIOLAB est une solution d'aide à la décision. Cette page est une brève introduction concernant la simplicité d'utilisation du logiciel.</p>
                <p class="lead">
                    <a href="#" class="btn btn-lg btn-primary">Voir l'introduction</a>
                    <a href="/" class="btn btn-lg btn-danger" style="color: #ffffff;">Passer l'introduction</a>
                </p>
            </main>

            <footer class="mastfoot mt-auto">
                <div class="inner">
                    <p style="color: #3D405C;">Orizon SAS 2019 - Cover Page by tpoac from <a href="https://getbootstrap.com/docs/4.0/examples/cover">Bootstrap</a>.</p>
                </div>
            </footer>
        </div>
        <% include inc/importantjs.ejs %>
    </body>
    <style>


        /*
         * Base structure
         */

        html,
        body {
          height: 100%;
        }

        body {
          display: -ms-flexbox;
          display: -webkit-box;
          display: flex;
          -ms-flex-pack: center;
          -webkit-box-pack: center;
          justify-content: center;
          background: #ECF0F1;
          color: #3D405C;
        }

        .cover-container {
          max-width: 42em;
        }


        /*
         * Header
         */
        .masthead {
          margin-bottom: 2rem;
        }

        .masthead-brand {
          margin-bottom: 0;
        }

        .nav-masthead .nav-link {
          padding: .25rem 0;
          font-weight: 700;
          color: rgba(255, 255, 255, .5);
          background-color: transparent;
          border-bottom: .25rem solid transparent;
        }

        .nav-masthead .nav-link:hover,
        .nav-masthead .nav-link:focus {
          border-bottom-color: rgba(255, 255, 255, .25);
        }

        .nav-masthead .nav-link + .nav-link {
          margin-left: 1rem;
        }

        .nav-masthead .active {
          color: #fff;
          border-bottom-color: #fff;
        }

        @media (min-width: 48em) {
          .masthead-brand {
            float: left;
          }
          .nav-masthead {
            float: right;
          }
        }


        /*
         * Cover
         */
        .cover {
          padding: 0 1.5rem;
        }
        .cover .btn-lg {
          padding: .75rem 1.25rem;
          font-weight: 700;
        }


        /*
         * Footer
         */
        .mastfoot {
          color: rgba(255, 255, 255, .5);
        }

    </style>
</html>
